.searchpage__container {
  color: #D9DBF1;
  margin-top: 50px;
}

.searchpage__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Ensures a responsive grid */
  gap: 10px; /* Reduces unnecessary spacing */
  margin-top: 80px; /* Adjust space for the header */
  padding: 20px;
  justify-content: center; /* Centers the grid */
  align-items: start; /* Aligns items at the top */
  max-width: 1200px; /* Keeps the layout clean on large screens */
  margin-left: auto;
  margin-right: auto;
}
